body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.767);
  color: whitesmoke;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.header {
  border-bottom: 2px solid goldenrod;
  margin-bottom: 2rem;
  display: flex;
  margin-right: auto;
}

.header h1 a {
  color: crimson;
  text-decoration: none;
}

.new-blog {
  display: flex;
  padding: 2rem 0;
}

.btn-link {
  color: tomato;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.btn-link:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

.post-entry {
  margin-bottom: 2rem;
}

.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: dodgerblue;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 400;
}

.post-entry h2 a:hover {
  color: crimson;
}
