{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Hodor's Django Blog</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header full-bleed">
        <h1><a href="{% url 'home' %}">Hodor's Django blog</a></h1>
      </header>

      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p> 
        <p><a href="{% url 'logout' %}">Log out</a></p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a> 
      {% endif %}

      <main>
        <div class="new-blog">
          <a href="{% url "post_new" %}" class="btn-link">New Blog Post</a>
        </div>

        <div>
          {% block content %} 
          {% endblock content %}
        </div>
      </main>
    </div>
  </body>
</html>
