{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Hodor's Django Blog</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header full-bleed">
        <h1><a href="{% url 'home' %}">Hodor's Django blog</a></h1>

        <div class="new-blog">
          <a href="{% url "post_new" %}" class="btn-link">New Blog Post</a>
        </div>
      </header>

      {% if user.is_authenticated %}
        <div class="auth-message">
          <p>Hi {{ user.username }}!</p> 
          <a href="{% url 'logout' %}" class="btn-link" >Log out</a>
        </div>
      {% else %}
        <div class="auth-message">
          <p>You are not logged in.</p>
          <div>
            <a href="{% url 'login' %}" class="btn-link">Log In</a> 
            <a href="{% url 'signup' %}" class="btn-link">Sign Up</a> 
          </div>
        </div>
      {% endif %}

      <main>
        <div>
          {% block content %} 
          {% endblock content %}
        </div>
      </main>

      <footer class="footer full-bleed">
        <p class="sign">You know nothing, <br/>
          <a href="https://github.com/DeveLawyer" target="_blank">DeveLawyer</a><span>🐺</span>
        </p>
      </footer>
    </div>
  </body>
</html>
